* {
  box-sizing: border-box;
  margin: 0px;
  border-radius: 5px;
}

button, select {
  background-color: inherit;
  border: inherit;
  color: inherit;
  padding: 0px;
  display: block;
  margin: 0px;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
}


body {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

a {
  background-color: inherit;
  border: none;
  padding: 0px;
  display: block;
  margin: 0px;
  font-size: inherit;
  font-family: inherit;
}


#full-window {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #78FF72;
}

#game {
  display: grid;
  flex-direction: column;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-row: 1;
  grid-column: 1;
}


#header-parent {
  display: flex;
  flex-direction: column;
  align-content:stretch;
  justify-content: flex-start;
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
  background-color: #EBE0BC;
}


#header-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#home-button {
  background-color: inherit;
  position: absolute;
  top: 5px;
  left: 5px;
}

#home-button img {
  display: block;
  height: calc(4rem + 12px);
  padding: 0.5rem 0px;
}


#header-buttons h1 {
  font-size: 4rem;
  font-weight: bolder;
  color:#5DB5E8;
  padding: 0px;
  margin: 0px;
}

#game-header-buttons > * {
  background-color: #5DB5E8;
  color: white;
  padding: 10px;
}


#full-game-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#game-button-parent {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  align-items: center;
}


#points {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  background-color: #EBE0BC;
  font-size: 2rem;
  font-weight: bold;
  color: #5DB5E8;
  box-shadow: 2px 1px 2px gray;
}

#points.point-shake {
  animation-name: shake;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  background-color: #E49EFF;
  color: white;
}


#game-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#game-header-buttons {
  font-size: x-large;
}

#start-button {
  box-shadow: 2px 1px 2px gray;
}

#select-difficulty {
  box-shadow: 2px 1px 2px gray;
}

#start-button.start-button-not-started {
  background-color: #E49EFF;
}

#stats-parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px;
  align-items: center;
  background-color: #EBE0BC;
  gap: 10px;
  box-shadow: 2px 1px 2px gray;
}

#stat-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

#stat-label {
  color:#5DB5E8;
  font-size: 1.5rem;
}

#stat-content * {
  background-color: #5DB5E8;
  color: white;
  padding: 5px 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}


#stat-content > * {
  text-align: center;
}


#game-wall {
  background-color: #5DB5E8;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-grow: 1;
}

#game-content {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(14, 1fr);
  background-color: #78FF72;
  flex-grow: 1;
}

.gameEnd {
  filter:blur(1px) grayscale(100%);
  animation-name: shake;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}

.box {
  /* border: solid 1px black; */
  border-radius: 35%;
}

.snake-square {
  background-color: #5DB5E8;
}

.apple-square {
  /* background-color: #FF5D4A; */
  background-image: url('./Media/icons/red\ apple.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


#footer-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
  background-color: #EBE0BC;
  border-radius: 5px;
  padding: 10px;
  grid-row: 2;
  grid-column: 1;
}


#footerIconParent {
  display: flex;
  gap: 30px;
}

#footerIconParent a {
  display: flex;
  align-content: center;
  position: relative;
  text-decoration: none;
  color: inherit;
}

#footerIconParent a:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}


.footerIcon {
  width: 40px;
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  68% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
