* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-window {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.site-full-window {
  --myLightGray: #D4D4D4;
  --myLightBrown: #BF9E93;
  --myLightBlue: #4E72A3;
  --myReddishBrown: #C26D63;
  --blue: #ADC0DB;;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

  overflow-y: scroll;
  background-color: var(--myLightGray);
  flex-grow: 1;
} 

.site-full-window * {
  border-radius: 5px;
}

.site-full-window a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.site-full-window button {
  display: block
}

.site-full-window .center-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site-full-window #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2% 15%;
  border-bottom: solid black 2px;
}

.site-full-window .subnavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-full-window .navbar-button {
  font-size: 1.5rem;
  background-color: var(--blue);
}

.site-full-window #navbar-my-name {
  font-size: 2rem;
}



.site-full-window .button-special-parent {
  padding: 4px 8px;
}

.site-full-window .button-special {
  padding: 8px 16px;
}

.site-full-window .button-special-parent-hover {
  padding: 0px;
}

.site-full-window .button-special-hover {
  padding: 12px 24px;
}

.site-full-window .all-button-special {
  transition: padding 0.5s, border-radius 0.5s;
}

.site-full-window .project-card {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 400px;
  border: solid 1px white;
  background-color: var(--myLightBlue);
}

.site-full-window {

}

.site-full-window {

}

.site-full-window {

}
